@tailwind base;
@tailwind components;
@tailwind utilities;

html {
@apply
scrollbar-hide
}
body {
    @apply
    bg-brand-gray-900
    text-brand-gray-100;
    -webkit-font-smoothing: antialiased
}

.default-button{
    @apply
    p-4
    text-sm
    flex
    items-center
    rounded
    font-bold
    uppercase
    gap-2
    justify-center
    transition-colors
}

.primary {
    @apply
    border-none
    bg-brand-green-500
    hover:bg-brand-green-700
}

.secondary {
    @apply
    border
    border-brand-blue-500
    hover:bg-brand-blue-500
    hover:text-brand-gray-900
}